// Colors
$activeText: #FB743E;
$default: #6D7280;
$defaultBg: #F5F5F5;
$black: #272343;
$gray: #6D7280;
$darkGray: #494B5C;
$link: #0A81D8;

// Fonts
$defaultFont: 'Poppins', sans-serif;
$headingFonts: 'PT Serif', serif;